* {
    text-decoration: none !important;
    /* font-family: 'Roboto', sans-serif !important; */
    font-family: "Playfair Display", serif;
    list-style: none;
    box-sizing: content-box;
}


/* - - - - - - - - - - - - - - - - - - - - - - - -  Garage */

.bg-lite {
    background-color: #000000;
}

.text-color {
    color: #929090 !important;
}

/* .box{
    background-color: #fc3d5336;
    border: dashed #fc3d54;
} */

.fs-18 {
    font-size: 18px;
}

.fs-14 {
    font-size: 14px;
}

.fs-40 {
    font-size: 40px;
}

.fs-50 {
    font-size: 50px;
}

.f-color {
    font-size: 25px;
    color: #000000c7;
    font-weight: 700 !important;
}

.col-4 {
    flex: 0 0 auto;
    width: calc(33.33333333% - 32px) !important;
}

.bor {
    border-radius: 10px 10px 10px 10px !important;
    overflow: hidden;

}

.details:hover {
    cursor: pointer;
    color: #ff0000 !important;
    transition: all 0.3s ease-in-out;
}

.box-1 {
    width: 500px;
    /* height: 600px; */
    border: 1px solid #EE3131;
    background-color: #000000;
    color: #EE3131;
    border-radius: 10px;
    /* box-shadow: 0px 0px 10px #7FC7D9; */
    padding: 30px;
    margin-top: 60px;
}

.in-gov {
    border: 1px solid #EE3131;
}

.ptb {
    padding: 70px 0;
}

.button {
    width: 20%;
    background-color: #EE3131;
    border-radius: 10px !important;
    border: none;
    color: white;
    padding: 5px;
}

Form span {
    color: #EE3131;
}

.img-box {
    overflow: hidden;
    height: 245px !important;
}

.box {
    transition: all .5s ease-in-out;
    overflow: hidden;
}

.box:hover {
    box-shadow: 0px 0px 20px rgb(160, 158, 158) !important;
    transition: all .5s ease-in-out;
}

.pos-rel {
    position: relative;
}

.card-icon {
    background-color: #fff;
    width: 54px;
    height: 54px;
    position: absolute;
    z-index: 998;
    top: 10px;
    right: 20px;
    padding: 12px;
}

.icon-color {
    color: #EE3131;
}

.service {
    background-color: #EE3131;
    color: white !important;
    padding: 10px;
}

.service:hover {
    background-color: #f85467;
    transition: all 0.3s ease-in-out;
}

.hov:hover {
    color: #EE3131 !important;
    transition: all 0.3s ease-in-out;
}

.pos-sticky {
    position: sticky;
    z-index: 999;
}


.line-word {
    line-height: 30px;
    /* word-spacing: 10px 10px; */
}

.pos-ab {
    position: absolute;
    top: 46%;
}

.black-box {
    background: #000000b6;
    width: 40%;
}

.bn-btn {
    background-color: #EE3131;
    padding: 15px 30px;
    border-radius: 10px;
    margin-top: 15px;
    transition: all 0.5s ease-in-out;
}

.bn-btn:hover {
    background-color: #ff0101a5;
    transition: all 0.5s ease-in-out;
}

.pos-about {
    position: absolute;
    top: 153px;
    left: 156px;
}

.red-card {
    background-color: #EE3131;
    color: white;
    padding: 50px 20px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.red-card:hover {
    transform: translate3d(0px, -15px, 0.01px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    transition: all 0.3s ease-in-out;

}

.box-card {
    background-color: #ffffff;
    color: black;
    padding: 50px 20px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.box-card:hover {
    background-color: #EE3131;
    color: white;
    padding: 50px 20px;
    border-radius: 10px;
    overflow: hidden;
    transform: translate3d(0px, -15px, 0.01px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    transition: all 0.3s ease-in-out;
}

.box-card:hover .icon-color {
    color: white;
    transition: all 0.3s ease-in-out;
}

.ps-sticky {
    position: fixed;
    background-color: white;
    z-index: 999;
    top: 0;
}

.shadow {
    box-shadow: 0px 0px 0px 10px black;
}

.martop {
    margin-top: 100px;
}

.manus-mar {
    margin-top: -100px 0px 0px 0px;
}

.bt-width {
    width: 15% !important;
}

.bg-7 {
    background-image: url(/src/Garage-API/Img/IMG7.jpg);
    width: 100%;
    height: 100vh;
    padding: 0px;
    background-position: center center;
}

.bg-box {
    padding: 30px 80px;
    border-radius: 10px;
    background: #85858566;
}






@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {
    .bg-7{
        background-position: -737px -58px;
    }
    .bg-box{
        background: #3d3c3ca1;
    }

}
@media (max-width: 470.98px) {
    .fs-50{
        font-size: 32px;
    }
}

@media (max-width: 426px) {
    .mt-4 a{
        font-size: 12px;
        padding: 12px 16px;
    }
    .bg-box{
        padding: 30px 50px;
    }
    .bg-box h6{
        font-size: 13px;
    }
    .bg-box h1{
        font-size: 22px;
    }
    .fw-bold *{
        font-size: 13px !important;
    }
    .bg-7{
        background-position: -914px -64px;
    }
    .col-12 a{
            font-size: 14px;
    }
    .fs-50{
        font-size: 31px;
    }
    .fs-40{
        font-size: 39px;
    }
    .bg-box{
        background: #3d3c3ca1;
    }
    
    
}